:root {
  --dark-blue: #363f5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f6;
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin: 3.2rem 0 .8rem;
  color: var(--dark-blue);

  font-weight: normal;
}


header {
  background-color: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #eee;
  font-weight: 100;
}


main {
  width: min(80vw, 800px);
  margin: 0 auto;
}

#balance {
  margin-top: -8rem;
}

#balance h2 {
  margin-top: 0;
  color: #fff;
}

.card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: .25rem;

  margin-bottom: 2rem;
  color: var(--dark-blue);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
}

.card p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 3rem;
}

.Total {
  background-color: #49aa26;
  color: #fff;
}
