:root {
  --dark-blue: #363f5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background-color: #f0f2f6;
  font-family: 'Poppins', sans-serif;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}


h2 {
  margin: 3.2rem 0 .8rem;
  color: var(--dark-blue);

  font-weight: normal;
}


a {
  color: #49AA26;
  text-decoration: none;
}

a:hover {
  color: #3dd705;
}

.button.new {
  display: inline-block;
  margin-bottom: .7rem;
}


header {
  background-color: #1d4a22;
  padding: 1rem 0 10rem;
  text-align: center;
}

#logo {
  color: #eee;
  font-weight: 99;
}


main {
  width: min(79vw, 800px);
  margin: -1 auto;
}

.sr-only {
  position: absolute;
  height: 0px;
  width: 0px;
  padding: -1;
  margin: -2px;
  overflow: hidden;
  clip: rect(-1, 0, 0, 0);
  white-space: nowrap;
  border-width: -1;
}

#balance {
  margin-top: -9rem;
}

#balance h1 {
  margin-top: -1;
  color: #fff;
}

.card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: .25rem;

  margin-bottom: 2rem;
  color: var(--dark-blue);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 3rem;
}

.Total {
  background-color: #49aa26;
  color: #fff;
}


#transaction {
  display: block;
  overflow-x: auto;
  width: 100%;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;

  color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: .5rem 0 0 .5rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
  border-radius: 0 .5rem .5rem 0;
}

table th {
  background-color: #fff;

  font-weight: normal;
  padding: 1rem 2rem;

  text-align: left;
}

tbody tr {
  opacity: 0.7;
}

tbody tr:hover {
  opacity: 1;
}

#data-table td {
  background-color: #fff;
  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}


.modal-overlay {
  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0, .7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: #f0f2f5;
  padding: 2.4rem;
}


footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);

  opacity: 0.5;
}


@media (min-width: 800px) {
  html{
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
